
body {
    display: grid;
    grid-template-areas:
    'header header header header header'
    'aside main main main main'
    'footer footer footer footer footer';
    grid-template-rows: 1fr 2.9fr 0.5fr;
    grid-template-columns: 1fr 4fr;
  
  }
  
  
  
  
  header {
  padding: 10px;
  text-align: center;
  border:1px solid black;
  grid-area: header;
  background: #0eb7e1;
  color: rgb(223, 232, 235);
  margin:10px;
  }
  main{  
    grid-row: 100px;
    grid-area: main;
    border:1px solid black;
    background-color: white;
    padding: 10px;
    margin:10px;
  }
  /* dont confuse with navbar */
  aside{
    background-color: #e8e1e1;
    grid-area: aside;
    padding: 10px;
    margin:10px;
    border:1px solid black;
  }
  
  /* to show the data on the displat */
  .showData {
    background-color: white;
    padding: 20px;
  }
  
  
  
  .navbar {
    display:flex;
    text-align: center;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #6c6d75;;
  }
  
  
  
  a:link{
    color:rgb(222, 4, 255);
  }
  
  a:visited{
    color:pink
  }
  
  h1 + ul {
    list-style-type: none;
  }
  footer {
    color: white;
    border:1px solid black;
    text-align: center;
    grid-area: footer;
    background: #0b104e;
    padding: 10px;
    margin:10px;
  }
  @media (max-width: 500px){
    body{
    grid-template-areas:
    'header header'
    'main main'
    'aside footer';
    }
  
  }
  
  
  